* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
  }
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .conteiner {
    display: flex;
    justify-content: space-between;
  }
  .conteiner.first--string {
    height: 15%;
  }
  .conteiner.second--string {
    height: 43%;
  }
  .conteiner.third--string {
    height: 25%;
  }
  .conteiner.four--string {
    height: 15%;
  }
  .conteiner.first--string div {
    background-color: yellow;
    width: 49%;
  }
  .conteiner.second--string div {
    background-color: rgb(173, 76, 76);
    width: 100%;
  }
  .conteiner.third--string div {
    background-color: rgb(28, 122, 79);
    width: 32%;
  }
  .conteiner.four--string div {
    background-color: black;
    width: 24.5%;
  }